<!DOCTYPE html>
<html ng-app="myApp">
<body>
<div ng-controller="firstController">

    <button ng-click="toLowerCase()"> to lower case </button><br>
    <button ng-click="toUpperCase()"> to upper case </button><br>
    <button ng-click="reverse()"> reverse </button><br>
    <button ng-click="toNewLine()"> to new line </button><br>
    <button ng-click="getSubstring()"> get substring </button><br>
    <span>number of symbols</span><input type="number" ng-model="number"><br>

    <textarea ng-model="input" rows="35" cols="80"></textarea>
    <textarea ng-model="output" rows="35" cols="80"></textarea>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>

</body>
</html>